<p data-hook="cmcic_checkout"></p>

<%
opts = {}
opts[:transaction_id] = "#{@order.number}"
opts[:amount] = @order.total
opts[:payment_method_id] = payment_method.id
%>

<style>
  iframe.skrill_frame{
    border: 0px;
    width: 500px;
    height: 500px;
  }
</style>

<fieldset id="cmcic_payment__<%= payment_method.id %>" data-hook>
  <legend><%= t(:payment_information) %></legend>
  <iframe id="cmcic_frame_<%= payment_method.id %>"
          class="cmcic_frame" src="/spree_cmcic/<%= payment_method.id %>/<%= @order.id %>"></iframe>
  <iframe id="2_cmcic_frame_<%= payment_method.id %>"
          class="cmcic_frame" src="<%= payment_method.redirect_url(@order.id) %>"></iframe>
          
</fieldset>
